<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Delete Contact</a></li>
</ol>

<br/>

<%- partial ('partials/statusmessage.ejs') %>

<legend>Delete Contact</legend>

<div style="text-align: center; padding-top:50px">
  <form action="/delete" method="POST">
    <div class="form-group">
      <label for="id">SELECT A CONTACT TO DELETE</label><br/>
      <select id="id" name="id">
      <% if(typeof contacts != "undefined" && contacts.length > 0){ %>
        <% contacts.forEach(function(contact){ %>
          <option value="<%= contact.id %>">
            <%= contact.firstName + " " + contact.lastName %>
          </option>
        <% }) %>
      <% } %>
      </select>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-danger">
        DELETE CONTACT
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </button>
    </div>
  </form>
</div>
